h1 {
    font-size: 2.5rem;
    color: silver;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

h2, p {
    font-family: 'Press Start 2P', cursive;
}

button {
    border-radius: 50%;
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

* {
    margin: .2rem;
}

#game-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#center-wrapper {
    min-width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color:  #4f301f;
}

#title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rock {
    font-family: 'Varela Round', sans-serif;
}

span.rock {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(images/pexels-pille-kirsi-1093207.jpg)
}

button.rock {
    background: url(images/pexels-pille-kirsi-1093207.jpg);
}

.paper {
    font-family: 'Allura', cursive;
}

button.paper {
    font-size: 1.3rem;
}

.scissors {
    font-family: 'Shadows Into Light', cursive;
}

#scoreboard {
    /*width: 50%;*/
    display: flex;
    align-self: center;
    height: 5.5rem;
    color: red;
}

#playerScore, #computerScore, #message {
    border: solid goldenrod 2px;
}

#playerScore {
    padding: 0 1.8rem;
}

#computerScore {
    padding: 0 0.3rem;
}

#scoreboard, #message {
    background-color: black;
}

#message {
    color: #66ff66;
    width: 14.5rem;
    height: 6rem;
    padding: 0.2rem 1rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

