h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

button {
    border-radius: 50%;
    display: inline-block;
}

* {
    margin: .2rem;
}

#game-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#scoreboard {
    /*width: 50%;*/
    display: flex;
    align-self: center;
    height: 3.5rem;
    background-color: black;
    color: red;
    font-family: 'Press Start 2P', cursive;
}

#playerScore, #computerScore {
    border: solid goldenrod 2px;
    /*padding: 2rem;*/
}

#playerScore {
    padding: 0 1.8rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

